@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');


.botao{
    margin-top:100%;
}
.botao ion-button{
    --background:#FE9A2E;
}

ion-content {
    --background: #ffff00 url('../../../assets/img/people.jpg') no-repeat center center / cover !important;
} 
