<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">

<img src="/assets/img/output-onlinepngtools.png">

<div>
  <p>
    Este aplicativo foi desenvolvido para fomentar o ensino da música em Belém do Pará, com o objetivo de divulgar o trabalho de professores de música, para alunos com interesse em aulas particulares, como também, melhorar o acesso de serviços relacionados a música, reunindo baixo custo, flexibilidade e facilidade.
  </p>
</div>

<div class="footer">
  <label>Criado por:</label>
  <p>Marlon Castro Miranda<br>o.y.mi@hotmail.com</p>
</div>
</ion-content>
